 *{
    margin:0;
    padding:0;
} 
#area{
    position:fixed;
    width:400px;
    right:0px;
    top:1%;}
#small_menu ul {
    list-style: none;
}
#area #on{
    position: absolute;
    top: 40%;
    right: 100%;
    width: 10%;
    height: 10%;
    cursor: pointer;
    background-color: rgba(235, 235, 235, 0);
}
#area #on p{
    font-size:30px;
    text-align:center;
    margin-top:-6px;
}
#area #small_menu {
    width:100%;
} 
#area #small_menu ul li {
    margin-left:40px;
    border-radius: 45px;
    width:120%;
    height: 100px;
    text-align:left;
    background-color: rgba(228, 228, 228, 0.8);
    border-top: 1px solid rgb(221, 221, 221);
    line-height: 100px;
}
#area #small_menu ul li a{
    text-decoration: none; 
    margin-left:20px;
    color: #313131;
    font-size:16px;
    font-family: 'Microsoft Yahei';
}

#back {
    width: 48px;
    height: 46px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: block;
    z-index: 60; 
    }
#forward {
    width: 48px;
    height: 46px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: block;
    z-index: 60; 
    -webkit-transform:rotate(180deg);
}