body{
    background-color:RGB(35,35,35);
}



h1{
    color:azure;
    margin-left:10px;
    font-size: 12px;
    font-family: 'Allerta Stencil', sans-serif;
}

p{
    color:white;
    margin-left:5px;
    font-family: 'PT Sans Narrow', sans-serif;
}


a{
    text-decoration-line: none;
    color:black;
}